$breakpoint:768px;
body.page-id-626{
    #page-wrap {
        section.note-section{
            padding-bottom: 0px;
            .sentence {
                color: $color_1;
            }

        }
        section.four-sections{
            padding-top:0px;
            .four-sections-title{
                padding-top:0px;
                padding-bottom: 15px;
            }
            .wpb_column{
                .wpb_single_image{
                    margin-bottom: 10px;
                    padding-top: 35px;
                }

            }
        }


    }
}
