$breakpoint: 768px;
body.blog,
body.category,
body.page-template-template-blog,
body.single-post {
    .blog-template {
        //padding: 0; //margin-bottom: -1040px;
    }
    .note-section {
        /*display: none;
        @media (min-width: $breakpoint) {
            display: block;
        }*/
        .white-space {
            .vc_empty_space {
                height: 60px !important;
            }
        }
        .note-section-content {
            .sentence {
                color: $color_1;
            }
            .text {
                p {
                    margin-bottom: 10px;
                }
            }
        }
    }
    .rw-section+.rw-section+.rw-section {
        margin-top: -150px;
        @media (min-width: $breakpoint) {
            position: relative;
            margin-top: -515px;
        }
        &>.vc_row {
            padding-left: 15px;
            padding-right: 15px;
            max-width: 1005px;
        }
        &.subnav-categories {
            padding-bottom: 50px;
            .navbar-brand {
                font-size: 13px;
                line-height: 26px;
                @media (min-width: $breakpoint) {
                    font-size: 16px;
                    line-height: 16px;
                }
            }
            li.current-cat a:after {
                content: '';
                height: 1px;
                display: block;
                @media (min-width: $breakpoint) {
                    margin-top: 10px;
                }
            }
            .collapse {
                ul {
                    display: inline-block;
                    li {
                        display: none;
                        @media (min-width: $breakpoint) {
                            display: initial!important;
                        }
                        a {
                            display: inline-block;
                        }
                        &.current-cat {
                            display: initial!important;
                        }
                    }
                }
                span {
                    @media (min-width: $breakpoint) {
                        display: none;
                    } //margin-left: 6px;
                    .navbar-toggle {
                        float: initial;
                        position: absolute;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .cat-item {
        font-family: 'Montserrat';
        font-size: 11px;
        font-weight: 600;
        &:not(.cat-item-all) {
            @media (min-width: $breakpoint) {
                font-size: 12px;
            }
        }
        @media (min-width: 848px) {
            font-size: 15px!important;
        }
        &.cat-cyber-security {
            span,
            a {
                color: $color_11;
            }
            a:after {
                background: $color_11;
            }
        }
        &.cat-insight {
            span,
            a {
                color: $color_5;
            }
            a:after {
                background: $color_5;
            }
        }
        &.cat-news {
            span,
            a {
                color: $color_3;
            }
            a:after {
                background: $color_3;
            }
        }
        &.cat-it-support {
            span,
            a {
                color: $color_10;
            }
            a:after {
                background: $color_10;
            }
        }
        &.cat-technology {
            span,
            a {
                color: $color_9;
            }
            a:after {
                background: $color_9;
            }
        }
        &.cat-item-all {
            span,
            a {
                color: $color_7;
            }
            a:after {
                background: $color_7;
            }
        }
    }
    .post-list {
        margin-top: 0px !important;
        article {
            color: $color_7;
            margin-bottom: 56px;
            @media (min-width: $breakpoint) {
                margin-bottom: 112px;
            }
            h3 {
                font-family: 'Montserrat';
                font-size: 21px;
                line-height: 29px;
                margin-top: 4px;
                @media (min-width: $breakpoint) {
                    font-size: 32px;
                    line-height: 44px;
                    margin-top: 12px;
                }
            }
            .text,
            .read-more {
                font-size: 13px;
                line-height: 25px;
                @media (min-width: $breakpoint) {
                    font-size: 16px;
                    line-height: 26px;
                }
            }
            .text {
                margin-top: 23px;
                margin-bottom: 42px;
                @media (min-width: $breakpoint) {
                    margin-top: 27px;
                    margin-bottom: 58px;
                }
            }
            .read-more {
                a {
                    color: $color_10;
                    i {
                        padding-left: 10px;
                    }
                    &:hover,
                    &:focus {
                        color: #BECE08
                    }
                }
            }
        }
        nav.custom-pagination {
            text-align: center;
            font-size: 13px;
            color: $color_7;
            @media (min-width: $breakpoint) {
                font-size: 16px;
            }
            a {
                color: $color_10;
            }
            span,
            a {
                padding-left: 4px;
                padding-right: 4px;
            }
        }
    }
    .discover_section {
        background-color: #f4f8fc;
    }
}