.single-post {
    .vc_row {
        max-width: 1005px;
        margin: auto;
    }
}

body.single-post {


    .blog-template {
        @include display-flex;
        @include flex-direction(column);
        .discover_section {
            order: 2;
        }
    }

    .rw-section+.rw-section+.rw-section {
        @media (min-width: $breakpoint) {
            position: relative;
            margin-top: -523px;
        }
    }



    .text-content {
        color: $color_7;
        font-size: 13px;
        line-height: 23px;
        @media (min-width: $breakpoint) {
            font-size: 16px;
            line-height: 26px;
        }
        padding-top: 48px;
        ul {
            padding-left: 15px;
            li {
                //padding-left: 25px;
                padding: 12px 0 12px 25px;
            }
        }
    }
    .post-content {
        h1 {
            color: $color_6;
            font-size: 18px;
            font-weight: 300;
            line-height: 26px;
            text-align: center;
            @media (min-width: $breakpoint) {
                font-size: 32px;
                line-height: 44px;
            }
        }
        h2 {
            font-family: 'proxima-nova';
            color: $color_7;
            font-size: 18px;
            line-height: 25px;
            padding-top: 53px;
            @media (min-width: $breakpoint) {
                font-size: 27px;
                line-height: 36px
            }
        }
        @media (min-width: 768px) {
            margin-top: 0px !important;
        }
    }
    .vc_row {
        .text-content,
        .previous-next a {
            color: $color_7;
            font-size: 13px;
            line-height: 23px;
            @media (min-width: $breakpoint) {
                font-size: 16px;
                line-height: 26px;
            }
        }
        .previous-next {
            //@include display-flex();
            //@include justify-content(space-between);
            max-width: 226px;
            margin: auto;
            padding-top: 70px;
            position: relative;
            .prev,
            .next {
                position: absolute;
            }
            .prev {
                left: 0;
            }
            .next {
                right: 0;
            }
        }
    }
}