.vc_row {
    section.no-padding {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.page-id-515 {
    /*p {
        margin: 0px 0px 10px;
    }
    .rw-section.three-col-callout .callout-default .callout-box .vc_column-inner {
        height: 300px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    @media (min-width: 992px) {
        .rw-section.three-col-callout .callout-default .callout-box .vc_column-inner>.wpb_wrapper {
            padding-left: 10px;
            padding-right: 10px;
        }
    }*/
    .rw-section.note-section>div.note-section-content .sentence {
        color: #046779;
    }
}