body.single-case_studies {
    .rw-section.note-section>div.note-section-content .sentence {
        color: $color_6;
    }
    section.arrows {
        .vc_row {
            .text-content,
            .previous-next a {
                color: $color_7;
                font-size: 13px;
                line-height: 23px;
                @media (min-width: $breakpoint) {
                    font-size: 16px;
                    line-height: 26px;
                }
            }
            .previous-next {
                max-width: 226px;
                margin: auto;
                padding-top: 70px;
                position: relative;
                .prev,
                .next {
                    position: absolute;
                }
                .prev {
                    left: 0;
                }
                .next {
                    right: 0;
                }
            }
        }
    }
}