$breakpoint:768px;
body.page-id-237 {
    #page-wrap {

        .note-section-content {
            .sentence {
                color: $color_11;
            }
        }
        .features-title,
        .note-section {
            .vc_sep_line {
                border-color: $color_11;
            }
        }
        .title_module:not(.discover_title) {
            &:after {
                border-bottom-color: $color_11;
            }
        }

    }
    .btn-nostyle {
        a, button {
            color: $color_11;
        }
    }
}