    $breakpoint: 768px;
    body.page-id-345,
    .parent-pageid-345,
    body.page-id-1260 {
        #page-wrap {
            .header-title {
                width: 80%;
                @media(min-width: 500px) {
                    width: 100%;
                }
            }
            .note-section-content {
                .sentence {
                    color: $color_6;
                }
                .text {
                    color: $color_3;
                    font-size: 27px;
                    text-align: center;
                    font-style: italic;
                }
            }
            .contact_row {
                width: 100%;
                max-width: $max_contentWidth;
                //padding-top: $content_separation_px;
                padding-bottom: $content_separation_px;
                margin: 0 auto;
                #custom-form {
                    max-width: 900px;
                    margin-left: auto;
                    margin-right: auto;
                    input.wpcf7-form-control:not([type="submit"]),
                    textarea {
                        border: 2px solid $color_20;
                        width: 100%;
                        padding: 9px 10px;
                    }
                    .interest {
                        .wpcf7-form-control.wpcf7-checkbox {
                            &:nth-child(1) {
                                color: $color_9;
                            }
                        }
                    }
                    span.wpcf7-list-item {
                        margin-left: 0px;
                        padding-right: 10px;
                        //width: 50%;
                        span.wpcf7-list-item-label {
                            font-family: 'Lato';
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                    .half-size {
                        width: 100%;
                        float: left;
                        padding-right: 59px;
                        @media(min-width: $breakpoint) {
                            width: 50%;
                        }
                    }
                    textarea {
                        resize: none;
                        height: 110px;
                    }
                    .submit_button {
                        margin: 0px auto;
                        max-width: 179px;
                        input[type="submit"] {
                            padding: 6px;
                            width: 100%;
                            font-weight: bold;
                            font-size: 16px;
                            //height: 39px;
                            background-color: $color_3;
                            color: white;
                            border-right: none;
                            border-top: none;
                            border-bottom: 2px solid $color_17;
                            margin-top: 36px;
                        }
                    }
                }
            }
            .row_map {}
            .map_section {
                max-width: 1600px;
                padding: $content_separation_px 0;
                padding-top: 0;
            }
        }
    }