$breakpoint: 768px;
body.home {
    #page-wrap {
        .vc_section.featured-header {
            height: 326px;
            @media (min-width: $breakpoint) {
                height: inherit;
            }
            &+.vc_section {
                @media (max-width: 768px) {
                    position: relative;
                    top: -37px;
                    margin-bottom: -37px;
                }
            }
        }
    }
}