
body.page-id-297{
    #page-wrap {
        .note-section-content{
            .sentence {
                color: $color_6;
            }
        }
        .features-title,.note-section {
            .vc_sep_line{
                border-color: $color_6;
            }
        }
        .title_module:not(.discover_title){
            &:after{
                border-bottom-color: $color_6;
            }
        }       

    }
}
