body.page-id-28 {
    #page-wrap {
        .cite {
            //font-size: 27px;
            //line-height: 62px;
            color: $color_3;
        }
        .note-section-content {
            .sentence {
                color: $color_10;
            }
        }
        .features-title,
        .note-section {
            .vc_sep_line {
                border-color: $color_10;
            }
        }
        .title_module:not(.discover_title) {
            &:after {
                border-bottom-color: $color_10;
            }
        }
    }
    .btn-nostyle {
        a, a.vc_btn3.vc_btn3-size-md, button, button.vc_btn3.vc_btn3-size-md {
            color: $color_10;
        }
    }
}