$breakpoint:768px;
body.page-id-610 {
    #page-wrap {
        .note-section-content {
            .sentence {
                color: $color_9;
            }
        }
        .features-title,
        .note-section {
            .vc_sep_line {
                border-color: $color_9;
            }
        }
        .title_module:not(.discover_title) {
            &:after {
                border-bottom-color: $color_9;
            }
        }
    }
    .btn-nostyle {
        a, a.vc_btn3.vc_btn3-size-md, button, button.vc_btn3.vc_btn3-size-md {
            color: $color_9;
        }
    }
}