$breakpoint: 768px;;

.rw-section.tw-col-boxs {
    .vc_row {
        max-width: initial;
    }
    .vc_column-inner {
        padding-top: 0;
        justify-content: center;
    }
    .with-content-box .vc_column-inner {
        height: 188px;
        @media (min-width: $breakpoint) {
            height: 400px;
        }
        &>.wpb_wrapper {
            //overflow-y: auto;
            font-family: 'Montserrat';
            h3 {
                color: $color_3;
                padding: 14px 10px 0px 24px;
                @media (min-width: $breakpoint) {
                    padding: 14px 10px 6px 38px;
                }
                line-height: 20px;
                font-size: 11px;
                font-weight: 600;
                text-transform: uppercase;
                @media (min-width: $breakpoint) {
                    font-size: 15px;
                }
            }
            .wpb_text_column.wpb_content_element {
                margin: 5px;
                @media (min-width: $breakpoint) {
                    margin: 0;
                    padding-top: 12px;
                    padding-bottom: 21px;
                }
                p {
                    color: $color_12;
                    font-weight: 300;
                    font-size: 21px;
                    line-height: 29px;
                    padding: 0 25px;
                    padding-left: 17px;
                    @media (min-width: $breakpoint) {
                        padding-left: 38px;
                        font-size: 37px;
                        line-height: 46px;
                    }
                }
            }
            .btn-nostyle {
                margin-bottom: 0;
                a {
                    background-color: transparent !important;
                    background-image: none !important;
                    color: $color_10;
                    font-family: 'Lato';
                    padding: 14px 10px;
                    padding-right: 40px;
                    margin-left: 11px;
                    font-size: 13px;
                    @media (min-width: $breakpoint) {
                        font-size: 16px;
                        margin-left: 28px;
                    }
                    &:hover,
                    &:focus {
                        background-color: transparent !important;
                        color: $color_3 !important;
                        background-image: none !important;
                    }
                    .fa {
                        right: 10px;
                    }
                }
            }
        }
    }
    #image-box {
        overflow: hidden;
        order: 2;
        @media (min-width: $breakpoint) {
            order: initial;
        }
        .vc_column-inner {
            padding: 0;
            div,
            figure {
                height: 100%;
                width: 100%;
            }
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        & + #content-box {
            @media (min-width: $breakpoint) {
                .vc_column-inner > .wpb_wrapper {
                    padding-left: 72px;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
    #content-box {
        @media (min-width: $breakpoint) {
            .vc_column-inner > .wpb_wrapper {
            max-width: 492px;
            margin-left: auto;
            margin-right: 0;
            padding-left: 6px;
            width: 83.33333333%;
                h3, p, a {
                    padding-left: 0;
                }
                h3 {
                    padding-top: 0
                }
                a {
                    margin-left: 0
                }
            }
            /*.vc_column-inner {
                padding: 0 46px;
                padding-right: 140px;
            }
            h3 {
                padding-top: 0;
            }*/
        }
    }
    .two-col .content-box-wrap+.content-box-wrap {
        padding-top: 0px;
    }

    /* Hold wrapper *//*
    @media (min-width: $breakpoint) {
        #text-box {
            width: 100%;
            .wpb_wrapper {
                max-width: 1005px;
                margin: auto;
                h3, >div {
                    max-width: 50%;
                }
            }
        }
        #image-box {
            position: absolute;
            right: 0;
        }
    }*/
}