$breakpoint: 992px;
$callout-boxes_separation: 11px;
.rw-section.three-col-callout {
    padding: 100px 0;
    &.vc_section-has-fill {
        //padding-top: 0;
    }
    .callout-default,
    .callout-withlinks,
    .callout-notext {
        //max-width: $max_contentWidth;
        margin: auto;
        .callout-box {
            @media (max-width: $breakpoint) {
                padding-top: $callout-boxes_separation;
                padding-bottom: $callout-boxes_separation;
                &:first-of-type {
                    padding-top: 0;
                }
                &:last-of-type {
                    padding-bottom: 0;
                }
            }
            .vc_column-inner {
                padding: 0;
                max-width: 400px;
                min-height: 178px;
                margin: auto;
                @media (min-width: $breakpoint) {
                    margin-left: 15px;
                    margin-right: 15px;
                }
                >.wpb_wrapper {
                    padding: 21px 0;
                    @media (min-width: $breakpoint) {
                        padding: 52px 0 20px;
                    }
                    color: $color_12;
                    text-align: center;
                    h3 {
                        font-family: 'proxima-nova';
                        font-size: 19px;
                        @media (min-width: $breakpoint) {
                            font-size: 27px;
                        }
                    }
                    .vc_separator {
                        margin-bottom: 21px;
                        margin-top: -1px;
                        @media (min-width: $breakpoint) {
                            margin-top: 12px;
                            margin-bottom: 46px;
                        }
                        .vc_sep_line {
                            border-width: 2px;
                            max-width: 100px;
                            margin: auto;
                            border-color: $color_13;
                            @media (min-width: $breakpoint) {
                                border-width: 4px;
                                max-width: 132px;
                            }
                        }
                    }
                    .callout-text {
                        margin: 0;
                        padding: 0 25px;
                    }
                }
            }
        }
    }
    .callout-default {
        .callout-box {
            .vc_column-inner {
                >.wpb_wrapper {
                    .callout-text {
                        font-size: 13px;
                        line-height: 23px;
                        @media (min-width: $breakpoint) {
                            font-size: 16px;
                            line-height: 26px;
                        }
                    }
                }
            }
        }
    }
    .callout-notext {
        .callout-box {
            .vc_column-inner {
                >.wpb_wrapper {
                    padding-top: 30px;
                    @media (min-width: $breakpoint) {
                        padding-top: 62px
                    }
                    h3 {
                        margin-top: 8px;
                    }
                    .vc_separator {
                        margin-top: 14px;
                        @media (min-width: $breakpoint) {
                            margin-top: 31px;
                        }
                    }
                    .callout-text {
                        font-family: 'Montserrat';
                        font-size: 45px;
                        line-height: initial;
                        @media (min-width: $breakpoint) {
                            font-size: 75px;
                        }
                    }
                }
            }
        }
    }
    .callout-withlinks {
        .callout-box {
            .vc_column-inner {
                >.wpb_wrapper {
                    padding: 22px 0 15px;
                    @media (min-width: $breakpoint) {
                        padding: 60px 0 46px;
                    }
                    h3 {
                        font-family: 'Montserrat';
                        font-size: 16px;
                        font-weight: 600;
                        text-transform: uppercase;
                        @media (min-width: $breakpoint) {
                            font-size: 26px;
                            line-height: 34px;
                        }
                    }
                    .vc_separator {
                        margin-bottom: 25px;
                        @media (min-width: $breakpoint) {
                            margin-top: 12px;
                            margin-bottom: 37px;
                        }
                    }
                    .callout-text {
                        font-size: 13px;
                        line-height: 23px;
                        @media (min-width: $breakpoint) {
                            font-size: 16px;
                            line-height: 26px;
                        }
                    }
                    .btn-nostyle {
                        margin-bottom: 0;
                        a,
                        button {
                            background-color: transparent !important;
                            background-image: none !important;
                            color: $color_12;
                            font-family: 'Lato';
                            padding: 14px 10px;
                            padding-right: 40px;
                            font-size: 13px;
                            margin-top: 7px;
                            @media (min-width: $breakpoint) {
                                font-size: 16px;
                                margin-top: 21px;
                            }
                            &:hover,
                            &:focus {
                                background-color: transparent !important;
                                color: $color_3 !important;
                                background-image: none !important;
                            }
                            .fa {
                                right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}