$breakpoint: 768px;
.map_section + section.discover_section {
    margin-top: 0;
}

.tw-col-text + section.discover_section {
    margin-top: 0;
}

section.discover_section {
    max-width: 1600px;
    padding-bottom: $content_separation_px;
    margin-top: 70px;

    min-height: 300px;
    @media(min-width: $breakpoint) {
        height: 300px;
    }
    .vc_row.wpb_row {
        padding-left: $lateral_separation;
        padding-right: $lateral_separation;
        @media(min-width: $breakpoint) {
            padding-left: 0px;
            padding-right: 0px;
        }
        .title_module {
            text-transform: uppercase;
            font-size: 17px;
            font-weight: 600;
            &:after {
                content: '';
                display: block;
                border-bottom: 2px solid $color_15;
                width: 100px;
                margin-bottom: 18px;
                margin-left: auto;
                margin-right: auto;
                margin-top: -6px;
                @media(min-width: $breakpoint) {
                    margin-top: 0;
                    width: 166px;
                    font-size: 28px;
                    padding-top: 8px;
                    border-bottom-width: 4px;
                    margin-bottom: 20px;
                }
            }
            @media(min-width: $breakpoint) {
                font-size: 28px;
                padding-top: 10px;
            }
        }
        &.buttons_row {
            padding-top: 21px;
            max-width: 1140px;
            margin-left: auto;
            margin-right: auto;
            @media (min-width: $breakpoint) {
                padding-top: 40px;
            }
            .discover_button a {
                max-width: 290px;
                width: 100%;
                //height: 60px;
                padding: 18px 0;
                color: $color_12;
                font-size: 18px;
                border-bottom: 3px solid;
                font-family: 'Montserrat';
                @media(min-width: $breakpoint) {
                    max-width: 360px;
                    width: 100%;
                    //min-height: 74px;
                    //padding-top: 23px;
                }
                @media (min-width: 992px) {
                    font-size: 23px;
                }
            }
            .button_1 a {
                border-bottom-color: $color_17;
            }
            .button_2 a {
                border-bottom-color: $color_18;
            }
            .button_3 a {
                border-bottom-color: $color_19;
            }
        }
    }
}