$breakpoint: 768px;
$features_separation: 11px;
.rw-section.features {
    >div {
        padding-top: 0;
        max-width: $max_contentWidth;
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
        &:first-of-type {
            padding-top: $content_separation_px;
        }
        &:last-of-type {
            padding-bottom: $content_separation_px;
        }
    }
    .features-title {
        .title {
            color: $color_7;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            @media (min-width: $breakpoint) {
                font-size: 28px;
            }
        }
        .vc_separator {
            margin-top: -6px;
            margin-bottom: 26px;
            @media (min-width: $breakpoint) {
                margin-top: 7px;
                margin-bottom: 74px;
            }
            .vc_sep_line {
                border-width: 2px;
                max-width: 100px;
                margin: auto;
                border-color: $color_6;
                @media (min-width: $breakpoint) {
                    border-width: 4px;
                    max-width: 166px;
                }
            }
        }
    }
    .features-content {
        margin-top: 6px;
        .feature-item {
            line-height: 16px;
            @media (min-width: $breakpoint) {
                line-height: 26px;
            }
            .wpb_single_image {
                margin-bottom: 18px;
                img {
                    max-width: 50px;
                    @media (min-width: $breakpoint) {
                        max-width: initial;
                    }
                }
            }
            .feature-title {
                font-family: 'Lato';
                color: $color_7;
                font-size: 13px;
                line-height: 23px;
                font-weight: 700;
                @media (min-width: $breakpoint) {
                    font-size: 16px;
                    line-height: 26px;
                }
            }
            .feature-text {
                font-family: 'Lato';
                color: $color_7;
                font-size: 13px;
                line-height: 23px;
                margin: 0;
                @media (min-width: $breakpoint) {
                    font-size: 16px;
                    line-height: 26px;
                    max-width: 250px;
                }
            }
            .btn-nostyle {
                margin-bottom: 0;
                button, a{
                    background-color: transparent !important;
                    background-image: none !important;
                    color: $color_11;
                    font-family: 'Lato';
                    padding: 0;
                    padding-right: 40px;
                    font-size: 13px; //margin-top: 7px;
                    @media (min-width: $breakpoint) {
                        font-size: 16px;
                        margin-top: 14px;
                    }
                    &:hover,
                    &:focus {
                        background-color: transparent !important;
                        color: $color_3 !important;
                        background-image: none !important;
                    }
                    .fa {
                        right: 10px;
                    }
                }
            }
            >.vc_column-inner {
                >.wpb_wrapper {
                    padding-bottom: 28px;
                    margin-bottom: 19px;
                    padding-left: 9px;
                    border-bottom: 1px solid $color_4;
                    @media (min-width: $breakpoint) {
                        margin: 0;
                        padding: 0;
                        border: 0;
                        padding-top: 14px;
                        padding-bottom: 72px;
                    }
                }
            }
            &:last-of-type {
                >.vc_column-inner {
                    >.wpb_wrapper {
                        border-bottom: 0; //border-right: 1px solid $color_4;
                        padding-right: 30px;
                        margin-bottom: 0;
                    }
                }
            }
            @media (min-width: $breakpoint) {
                &:nth-child(3n+1) {
                    >.vc_column-inner {
                        >.wpb_wrapper {
                            padding-left: 30px;
                        }
                    }
                }
                &:nth-child(3n+2) {
                    >.vc_column-inner {
                        >.wpb_wrapper {
                            padding-left: 40px;
                        }
                    }
                }
                &:nth-child(3n+0) {
                    >.vc_column-inner {
                        >.wpb_wrapper {
                            padding-left: 50px;
                        }
                    }
                }
                &:nth-child(n+4) {
                    padding-top: 41px;
                }
                &:nth-child(3n+1), &:nth-child(3n+2) {
                    border-right: 1px solid $color_4;
                }
                &:not(:last-child){
                    border-bottom: 1px solid $color_4;
                }
                &:nth-last-child(2) {
                    &:nth-child(3n+1), &:nth-child(3n+2) {
                        border-bottom: 0;
                    }
                }
                &:nth-last-child(3) {
                    &:nth-child(3n+1){
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}