.rw-section {
    &.featured-header {
        padding: 0;
        position: relative;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        &,
        .background-featured-image,
        .rw-module {
            height: 290px;
            @media(min-width: 768px) {
                height: 740px;
            }
        }
        &::before {
            content: '';
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            position: absolute;
            visibility: visible;
            height: 100%;
        }
    }
}

.featured-box {
    @include horizontal-margin(-15px);
    //background: rgba(8, 8, 8, 0.4);
    height: 100%;
    .header-title {
        position: relative;
        @include display-flex();
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction(column);
        text-align: center;
        margin: auto;
        width: 100%;
        padding: 0px 30px;
        padding-top: 56px;
        @media(max-width: 499px) {
            max-width: 320px;
        }
        @media(min-width: 500px) {
            max-width: 80%;
        }
        @media(min-width: 768px) {
            max-width: 1024px;
            padding-top: 100px;
            padding-bottom: 290px;
        }
        span {
            color: #fff;
        }
    }
}

.home {
    .featured-box {
        .header-title {
            @media(min-width: 768px) {
                padding-bottom: 160px;
            }
        }
    }
}