$breakpoint: 768px;
$sections_separation: 11px;
.rw-section.four-sections {
    >div {
        padding-top: 0;
        max-width: $max_contentWidth;
        max-width: 1034px;
        margin: auto;
        &:first-of-type {
            padding-top: $content_separation_px;
        }
        &:last-of-type {
            padding-bottom: $content_separation_px;
        }
    }
    .four-sections-title {
        .title {
            color: $color_7;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            @media (min-width: $breakpoint) {
                font-size: 27px;
            }
        }
        .vc_separator {
            /*margin-bottom: 21px;
            margin-top: -1px;
            @media (min-width: $breakpoint) {
                margin-top: 12px;
                margin-bottom: 46px;
            }*/
            .vc_sep_line {
                border-width: 2px;
                max-width: 100px;
                margin: auto;
                border-color: $color_6;
                @media (min-width: $breakpoint) {
                    border-width: 4px;
                    max-width: 166px;
                }
            }
        }
    }
    .four-sections-content {
        //margin-top: 32px;
        .four-sections-section {
            .section-subtitle {
                font-family: 'proxima-nova';
                color: $color_1;
                font-size: 19px;
                @media (min-width: $breakpoint) {
                    font-size: 27px;
                }
            }
            .section-text {
                color: $color_7;
                font-size: 13px;
                line-height: 25px;
                margin-top: 20px;
                margin-bottom: 56px;
                @media (min-width: $breakpoint) {
                    font-size: 16px;
                    line-height: 26px;
                    margin-top: 23px;
                    margin-bottom: 69px;
                    max-width: 95%;
                }
            }
            &:last-of-type {
                .section-text {
                    margin-bottom: 0;
                }
            }
            &:nth-last-of-type(2) {
                @media (min-width: $breakpoint) {
                    .section-text {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}