$breakpoint: 768px;
section.images_gallery{
    width: 100%;
    max-width: $max_contentWidth;
    padding-top: $content_separation_px;
    padding-bottom: $content_separation_px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    .vc_row.wpb_row{
        //max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        padding-left: $lateral_separation;
        padding-right: $lateral_separation;
        @media(min-width: $breakpoint){
            //max-width:1200px;
            padding-left: 0px;
            padding-right: 0px;

        }
        .title_module {
            text-transform: uppercase;
            font-size: 17px;
            font-weight: 600;
            padding-bottom: 25px;

            &:after {
                content: '';
                display: block;
                border-bottom: 2px solid $color_15;
                width: 100px;
                margin-bottom: 18px;
                margin-left: auto;
                margin-right: auto;
                margin-top: -6px;
                @media(min-width: $breakpoint) {
                    margin-top: 0;
                    width: 180px;
                    font-size: 28px;
                    padding-top: 8px;
                    border-bottom-width: 4px;
                    margin-bottom: 20px;
                }
            }
            @media(min-width: $breakpoint) {
                font-size: 28px;
                padding-top: 10px;
                padding-bottom: 80px;
            }
        }
    }
}