$content_separation: $modules_separation/2;
$breakpoint: 768px;
$breakpoint_desktop: 992px;
section.news_insight {
    width: 100%;
    max-width: 1250px;
    padding: $content_separation_px 0;
    padding-top: 30px;
    margin: 0 auto;
    >.vc_row>.wpb_column>.vc_column-inner {
        padding-top: 35px;
    }
    p {
        font-size: 14px;
        @media(min-width: $breakpoint) {
            font-size: 17px
        }
    }
    h2 {
        font-size: 17px;
        @media(min-width: $breakpoint) {
            font-size: 27px;
        }
    }
    h3 {
        font-size: 16px;
    }
    .vc_row.wpb_row {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-left: $lateral_separation;
        padding-right: $lateral_separation;
        @media(min-width: 768px) {
            padding-left: 0px;
            padding-right: 0px;
        }
        .column_post {
            //max-width:458px;
            padding-top: 40px;
            padding-left: 15px;
            padding-right: 15px;
            @media(min-width: $breakpoint_desktop) {
                >div {
                    padding-right: 20px;
                }
                padding-top:10px;
            }
        }
        .news-row {
            display: flex;
            justify-content: center;
            flex-direction: column;
            @media(min-width: $breakpoint_desktop) {
                flex-direction: row;
                padding-top: 63px;
            }
        }
        .title_module {
            text-transform: uppercase;
            font-size: 17px;
            font-weight: 600;
            &:after {
                content: '';
                display: block;
                border-bottom: 2px solid $color_6;
                width: 100px;
                padding-top: 8px;
                margin-bottom: 18px;
                margin-left: auto;
                margin-right: auto;
                @media(min-width: 768px) {
                    width: 166px;
                    border-bottom: 4px solid $color_6;
                    margin-bottom: 20px;
                }
            }
            @media(min-width: $breakpoint) {
                font-size: 28px;
            }
        }
        .row_news {
            display: flex;
            justify-content: center;
            flex-direction: column;
            @media(min-width: $breakpoint) {
                flex-direction: row;
                padding-top: 60px;
            }
        }
        .title_1 {
            text-transform: uppercase;
            text-align: left;
            font-size: 11px;
            line-height: 15px;
            color: $color_3;
            letter-spacing: 0.025em;
            font-weight: bold;
            @media(min-width: $breakpoint) {
                font-size: 17px;
            }
        }
        .title_2 {
            font-size: 21px;
            line-height: 30px;
            padding-bottom: 27px;
            @media(min-width: $breakpoint) {
                font-size: 32px;
                line-height: 44px;
                padding-top: 17px;
            }
        }
        .text_content {
            p {
                padding-bottom: 27px;
            }
            padding-bottom: 30px;
        }
        .link_to_read_more {
            a {
                color: $color_10;
                i {
                    margin-left: 10px;
                }
            }
        }
        .column-text {
            //max-width:458px;
        }
        .btn-nostyle {
            margin-bottom: 0;
            a {
                background-color: transparent !important;
                background-image: none !important;
                color: $color_11;
                font-family: 'Lato';
                padding: 0;
                padding-right: 40px;
                font-size: 13px; //margin-top: 7px;
                @media (min-width: $breakpoint) {
                    font-size: 16px;
                    margin-top: 14px;
                }
                &:hover,
                &:focus {
                    background-color: transparent !important;
                    color: $color_3 !important;
                    background-image: none !important;
                }
                .fa {
                    right: 10px;
                }
            }
        }
    }
}