    $breakpoint: 768px;
    $sections_separation: 11px;
    .rw-section.note-section {
        @media (min-width: $breakpoint) {
            position: relative;
            top: -200px;
            overflow: hidden;
            padding: 0 15px;
            >div {
                max-width: $max_contentWidth - 30px;
                margin: auto;
                @media (min-width: $breakpoint) {}
                &.note-section-content {
                    position: relative;
                    background-color: $color_12;
                    -moz-box-shadow: 0px 25px 31.5px 0px rgba(0, 1, 0, 0.6);
                    -webkit-box-shadow: 0px 25px 31.5px 0px rgba(0, 1, 0, 0.6);
                    box-shadow: 0px 25px 31.5px 0px rgba(0, 1, 0, 0.6);
                    &.vc_row::before {
                        display: inherit;
                        position: absolute;
                        bottom: -40px;
                        width: 100%;
                        height: 50%;
                        content: '';
                        /*background: linear-gradient(transparent 0%, #fff 100%);

                        background: #fff; 
                        background: -webkit-linear-gradient(transparent 0%, #fff 100%); 
                        background: -o-linear-gradient(transparent 0%, #fff 100%);
                        background: -moz-linear-gradient(transparent 0%, #fff 100%);
                        background: linear-gradient(transparent 0%, #fff 100%);*/
                        transform: scale(1.05);
                    }
                    .wpb_wrapper {
                        max-width: 1004px;
                        margin: auto;
                    }
                }
                &.white-space {
                    background-color: #fff;
                    position: relative;
                    //top: -5px;
                    .vc_empty_space {
                        height: $content_separation_px!important;
                    }
                }
            }
        }
        >div {
            &.note-section-content {
                padding-top: 58px;
                @media (min-width: $breakpoint) {
                    padding-top: 110px;
                    min-height: 520px;
                }
                .title {
                    color: $color_7;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 600;
                    text-align: center;
                    @media (min-width: $breakpoint) {
                        font-size: 27px;
                    }
                }
                .vc_separator {
                    margin-top: -6px;
                    margin-bottom: 34px;
                    @media (min-width: $breakpoint) {
                        margin-top: 6px;
                        margin-bottom: 62px;
                    }
                    .vc_sep_line {
                        border-width: 2px;
                        max-width: 100px;
                        margin: auto;
                        border-color: $color_6;
                        @media (min-width: $breakpoint) {
                            border-width: 4px;
                            max-width: 166px;
                        }
                    }
                }
                .sentence {
                    font-family: 'Montserrat';
                    color: $color_11;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 26px;
                    text-align: center;
                    padding: 0 4.5%;
                    margin-bottom: 48px;
                    @media (min-width: $breakpoint) {
                        padding: 0;
                        font-size: 32px;
                        line-height: 44px;
                        margin-bottom: 84px;
                    }
                }
                .text {
                    color: $color_7;
                    font-size: 13px;
                    line-height: 25px;
                    margin-top: 20px;
                    padding: 0 4.5%;
                    @media (min-width: $breakpoint) {
                        padding: 0;
                        font-size: 16px;
                        line-height: 26px;
                        margin-top: 23px;
                    }
                }
                ul {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    li {
                        padding-left: 25px;
                    }
                }
            }
        }
    }