
$breakpoint: 768px;
.rw-section.two-col.tw-col-text{
    width: 100%;
    margin: 0 auto;
    p{
        font-size: 14px;
        @media(min-width: $breakpoint){
            font-size: 17px
        }
    }
    h2{
        font-size: 17px;
        @media(min-width: $breakpoint){
            font-size: 27px;
        }
    }
    h3{
        font-size: 16px;
    }
    /*background-color:blue;*/
 
    >.vc_row.wpb_row{
        width:100% !important;
        left: 0px !important;
        max-width: $max_contentWidth;
        padding-left:$lateral_separation;
        padding-right: $lateral_separation;
        margin-left:auto;
        margin-right: auto;
        @media(min-width: 768px){
            padding-left: 0px;
            padding-right: 0px;
            max-width:1000px;
        }
        .title_module{
            text-transform: uppercase;
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            padding-bottom: 4px;
            
            &:after{
                content:'';
                display: block;
                border-bottom: 2px solid $color_6;;
                width:100px;
                margin-left:auto;
                margin-right: auto;
                margin-top: -3px;
                @media(min-width: 768px){
                    width:166px;
                    padding-top: 8px;
                    margin-top: 0px;
                    border-bottom: 4px solid $color_6;;
                    margin-bottom: 20px;
                }
            }
            @media(min-width: $breakpoint){
                font-size: 28px;
                padding-bottom: 36px;
            }
            
        }
        .wpb_text_column {
            margin-bottom: 26px;
        }

        .column-text{
            
            .text_content{
                
                font-size: 13px;
                width: 90%;
                
            }
            ul{
            padding-left: 0px;
            li{
                padding-left: 25px;
                padding-bottom: 24px;
            }
        }
            
        }
        ul{
           padding-top:20px;
           padding-bottom: 20px;
            li{
                padding-left: 25px;
                
            }
        }
    }


}
