.slick-slider {
    max-width: 1250px;
    margin: auto;
    .slick-track {
        .slide {
            &:focus,
            &:active,
            &:hover,
            &:visited {
                outline: none !important;
            }
            div {
                &:focus,
                &:active,
                &:hover,
                &:visited {
                    outline: none !important;
                }
                @include display-flex();
                @include justify-content(center);
                @media (min-width: 768px) {
                    padding: 0px 15px;
                }
                img {
                    object-fit: contain;
                    &:focus,
                    &:active,
                    &:hover,
                    &:visited {
                        outline: none !important;
                    }
                }
            }
        }
    }
}

.slick-slider {
    .slick-arrow {
        &:before {
            color: grey;
        }
        &.slick-prev {
            left: -30px !important;
            @media (min-width: 768px) {
                left: -20px !important;
            }
            @media (min-width: 1200px) {
                left: -30px !important;
            }
        }
        &.slick-next {
            right: -30px !important;
            @media (min-width: 768px) {
                right: -20px !important;
            }
            @media (min-width: 1200px) {
                right: -30px !important;
            }
        }
    }
}