$breakpoint: 992px;
$sections_separation: 11px;
.rw-section.who-we-are {
    padding-bottom: 20px;
    >div {
        padding-top: 0;
        max-width: $max_contentWidth;
        max-width: 1140px;
        margin: auto;
        &:first-of-type {
            padding-top: 10px;
        }
    }
    .who-we-are-title {
        .title {
            color: $color_7;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            @media (min-width: $breakpoint) {
                font-size: 27px;
            }
        }
        .vc_separator {
            .vc_sep_line {
                border-width: 2px;
                max-width: 100px;
                margin: auto;
                border-color: $color_6;
                margin-top: -4px;
                @media (min-width: $breakpoint) {
                    border-width: 4px;
                    max-width: 166px;
                    margin-top: 4px;
                }
            }
        }
    }
    .who-we-are-content {
        margin-top: 1px;
        @media (min-width: $breakpoint) {
            margin-top: 64px;
        }
        .member-team {
            .vc_column-inner {
                padding: 0;
            }
        }
        .wpb_single_image {
            margin: 0;
            img {
                height: 200px;
                width: 200px;
                border-radius: 50%;
                margin-bottom: 20px;
                object-fit: cover;
                @media (min-width: 768px) {
                    width: 300px;
                    height: 300px;
                    max-height: initial;
                    margin-bottom: 34px;
                }
            }
        }
        .name {
            font-family: 'proxima-nova';
            color: $color_1;
            font-size: 19px;
            text-align: center;
            @media (min-width: $breakpoint) {
                font-size: 27px;
                color: $color_7;
            }
        }
        .vc_separator {
            margin-bottom: 0;
            .vc_sep_line {
                border-width: 2px;
                max-width: 100px;
                margin: auto;
                border-color: $color_16;
                @media (min-width: $breakpoint) {
                    border-width: 4px;
                    max-width: 132px;
                    margin-top: 8px;
                }
            }
        }
        .position {
            color: $color_7;
            font-size: 13px;
            line-height: 25px;
            text-align: center;
            margin-top: 16px;
            margin-bottom: 0;
            @media (min-width: $breakpoint) {
                font-size: 16px;
                line-height: 26px;
                margin-top: 40px;
                margin-bottom: 6px;
            }
        }
        .btn-nostyle {
            margin-bottom: 0;
            margin-top: -8px;
            button,
            a {
                background-color: transparent !important;
                background-image: none !important;
                color: $color_10;
                font-family: 'Lato';
                padding: 2px 10px;
                padding-right: 40px;
                font-size: 13px;
                @media (min-width: $breakpoint) {
                    font-size: 16px;
                }
                &:hover,
                &:focus {
                    background-color: transparent !important;
                    color: $color_3 !important;
                    background-image: none !important;
                }
                .fa {
                    right: 10px;
                }
            }
        }
        .description {
            display: none;
            color: $color_7;
            font-size: 13px;
            line-height: 25px;
            margin-top: 28px;
            margin-bottom: 40px;
            @media (min-width: $breakpoint) {
                font-size: 16px;
                line-height: 26px;
                padding: 0 25px;
                padding-top: 30px;
                margin-bottom: -24px;
            }
            p {
                margin-bottom: 10px;
            }
        }
        .btn-showmore {
            button,
            a {
                padding: 3.5px 60px;
                background-color: $color_12;
                border: 0;
                margin-top: 25px;
                background-image: none !important;
                @media (min-width: $breakpoint) {
                    padding: 3.5px 58px;
                    margin-top: 96px;
                }
                &:hover,
                &:focus {
                    background-color: $color_12 !important;
                    color: $color_3 !important;
                    background-image: none !important;
                }
                i {
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    font-size: 20px;
                    color: $color_12;
                    border-radius: 50%;
                    background-color: $color_6;
                    height: 26px;
                    width: 26px;
                    @media (min-width: $breakpoint) {
                        height: 36px;
                        width: 36px;
                        font-size: 26px;
                    }
                    &:before {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        top: 6px;
                        @media (min-width: $breakpoint) {
                            top: 11px;
                        }
                    }
                    &.fa-angle-up:before {
                        top: 5px;
                        @media (min-width: $breakpoint) {
                            top: 10px;
                        }
                    }
                }
            }
            &.individual,
            &.individual+.btn-showmore-text {
                @media (min-width: $breakpoint) {
                    display: none;
                }
            }
            &.group,
            &.group+.btn-showmore-text {
                @media (max-width: $breakpoint) {
                    display: none;
                }
            }
        }
        .btn-showmore-text {
            color: $color_7;
            font-size: 13px;
            text-align: center;
            margin: 0;
            padding-bottom: 50px;
            @media (min-width: $breakpoint) {
                font-size: 16px;
                padding-top: 12px;
            }
            .wpb_wrapper {
                border-top: 1px solid $color_16;
                margin-top: -35px;
                padding-top: 12px;
                @media (min-width: $breakpoint) {
                    margin-top: -48px;
                    padding-top: 24px;
                }
            }
        }
        &:last-of-type {
            .section-text {
                margin-bottom: 0;
            }
        }
        &:nth-last-of-type(2) {
            @media (min-width: $breakpoint) {
                .section-text {
                    margin-bottom: 0;
                }
            }
        }
    }
}