// - - - - - - - - - - - - - - - - - - - - - box-shadow
@mixin box-shadow($shadow) {
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
}

// - - - - - - - - - - - - - - - - - - - - - transition
@mixin transition($transition) {
    transition: $transition;
    -moz-transition: $transition;
    -webkit-transition: $transition;
}