// - - - - - - - - - - - - - - - - - - - - - align-content
@mixin align-content($align) {
    -webkit-align-content: $align;
    align-content: $align;
}

// - - - - - - - - - - - - - - - - - - - - - align-items
@mixin align-items($align) {
    -webkit-align-items: $align;
    align-items: $align;
}

// - - - - - - - - - - - - - - - - - - - - - display-flex
@mixin display-flex($important:false) {
    $text: '';
    @if (true==$important) {
        $text: ' !important';
    }
    display: -webkit-box#{$text};
    display: -moz-box#{$text};
    display: -ms-flexbox#{$text};
    display: -webkit-flex#{$text};
    display: flex#{$text};
}

// - - - - - - - - - - - - - - - - - - - - - flex-centered
@mixin flex-centered() {
    @include justify-content(center);
    @include align-items(center);
}

// - - - - - - - - - - - - - - - - - - - - - flex-direction
@mixin flex-direction($direction) {
    @if 'column'==$direction {
        -webkit-box-orient: vertical;
        -moz-box-orient: normal;
    }
    @else if 'column-reverse'==$direction {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
    }
    @else if 'inherit'==$direction {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }
    @else if 'initial'==$direction {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }
    @else if 'row'==$direction {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
    }
    @else if 'row-reverse'==$direction {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
    }
    -webkit-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}

// - - - - - - - - - - - - - - - - - - - - - flex-grow
@mixin flex-grow($grow) {
    flex-grow: $grow;
    -webkit-flex-grow: $grow;
}

// - - - - - - - - - - - - - - - - - - - - - flex-vertial-center
@mixin flex-vertical-center() {
    @include display_flex();
    @include flex-direction(row);
    @include align-items(center);
}

// - - - - - - - - - - - - - - - - - - - - - flex-wrap
@mixin flex-wrap($wrap) {
    flex-wrap: $wrap;
    -webkit-flex-wrap: $wrap;
}

// - - - - - - - - - - - - - - - - - - - - - justify-content
@mixin justify-content($type) {
    justify-content: $type;
    -webkit-justify-content: $type;
}

// - - - - - - - - - - - - - - - - - - - - - Flexbox Shrink
// Flexbox Shrink
//
// The 'flex-shrink' property sets the flex shrink factor. Negative numbers
// are invalid.
//
// Default: 1
//
// http://w3.org/tr/css3-flexbox/#flex-shrink-property
@mixin flex-shrink($int: 1) {
    -webkit-flex-shrink: $int;
    -moz-flex-shrink: $int;
    -ms-flex-negative: $int;
    flex-shrink: $int;
}

// - - - - - - - - - - - - - - - - - - - - - Flexbox Basis
// Flexbox Basis
//
// The 'flex-basis' property sets the flex basis. Negative lengths are invalid. 
//
// Values: Like "width" 
// Default: auto
//
// http://www.w3.org/TR/css3-flexbox/#flex-basis-property
@mixin flex-basis($value: auto) {
    -webkit-flex-basis: $value;
    -moz-flex-basis: $value;
    -ms-flex-preferred-size: $value;
    flex-basis: $value;
}

// Flexbox Grow
//
// The 'flex-grow' property sets the flex grow factor. Negative numbers
// are invalid.
//
// Default: 0
//
// http://w3.org/tr/css3-flexbox/#flex-grow-property
@mixin flex-grow($int: 0) {
    -webkit-box-flex: $int;
    -webkit-flex-grow: $int;
    -moz-flex-grow: $int;
    -ms-flex-positive: $int;
    flex-grow: $int;
}

// - - - - - - - - - - - - - - - - - - - - - Flexbox "Flex" (shorthand)
// Flexbox "Flex" (shorthand)
//
// The 'flex' property specifies the components of a flexible length: the
// flex grow factor and flex shrink factor, and the flex basis. When an
// element is a flex item, 'flex' is consulted instead of the main size
// property to determine the main size of the element. If an element is
// not a flex item, 'flex' has no effect.
//
// Values: none | <flex-grow> <flex-shrink> || <flex-basis>
// Default: See individual properties (1 1 0).
//
// http://w3.org/tr/css3-flexbox/#flex-property
@mixin flex($fg: 1, $fs: null, $fb: null) {
    // Set a variable to be used by box-flex properties
    $fg-boxflex: $fg;
    // Box-Flex only supports a flex-grow value so let's grab the
    // first item in the list and just return that.
    @if type-of($fg)=='list' {
        $fg-boxflex: nth($fg, 1);
    }
    -webkit-box-flex: $fg-boxflex;
    -webkit-flex: $fg $fs $fb;
    -moz-box-flex: $fg-boxflex;
    -moz-flex: $fg $fs $fb;
    -ms-flex: $fg $fs $fb;
    flex: $fg $fs $fb;
}