// - - - - - - - - - - - - - - - - - - - - - absolute-cover
@mixin absolute-cover($zindex: 1) {
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: $zindex;
}

// - - - - - - - - - - - - - - - - - - - - - border-radius
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

// - - - - - - - - - - - - - - - - - - - - - border-bottom-radius
@mixin border-bottom-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-radius-bottomright: $radius;
    -moz-border-radius-bottomleft: $radius;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
}

// - - - - - - - - - - - - - - - - - - - - - border-top-radius
@mixin border-top-radius($radius) {
    -webkit-border-top-left-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-topright: $radius;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}

// - - - - - - - - - - - - - - - - - - - - - font-face
@mixin font-face($fonts_list, $path, $type) {
    @each $name,
    $font in $fonts_list {
        @font-face {
            font-family: "#{$name}";
            font-weight: map-get($font, 'weight');
            font-style: map-get($font, 'style');
            src: url("#{$path}#{$name}.#{$type}") format("opentype");
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - fontawesome-content
@mixin fontawesome-content($icon) {
    font-family: 'FontAwesome';
    content: $icon;
    display: inline-block;
}

// - - - - - - - - - - - - - - - - - - - - - horizontal-margin
@mixin horizontal-margin($margin) {
    margin-left: $margin;
    margin-right: $margin;
}

// - - - - - - - - - - - - - - - - - - - - - horizontal-padding
@mixin horizontal-padding($padding) {
    padding-left: $padding;
    padding-right: $padding;
}

// - - - - - - - - - - - - - - - - - - - - - placeholder-color
@mixin placeholder-color($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
}

// - - - - - - - - - - - - - - - - - - - - - placeholder-font-size
@mixin placeholder-font-size($size) {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: $size;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        font-size: $size;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        font-size: $size;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        font-size: $size;
    }
}

// - - - - - - - - - - - - - - - - - - - - - vertical-margin
@mixin vertical-margin($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
}

// - - - - - - - - - - - - - - - - - - - - - vertical-padding
@mixin vertical-padding($padding) {
    padding-top: $padding;
    padding-bottom: $padding;
}