h1,
h2,
h3,
p {
    margin: 0px;
}

a,
input,
textarea,
select {
    &:hover,
    &:active,
    &:focus,
    &:link {
        outline: none;
        text-decoration: none;
    }
}

a,
button,
a:hover {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.btn-nostyle {
    margin-bottom: 0;
    a, a.vc_btn3.vc_btn3-size-md, button, button.vc_btn3.vc_btn3-size-md {
        background-color: transparent !important;
        background-image: none !important;
        font-family: 'Lato';
        padding: 0;
        padding-right: 40px;
        font-size: 13px;
        margin-top: 7px;
        @media (min-width: $breakpoint) {
            font-size: 16px;
            margin-top: 21px;
        }
        &:hover,
        &:focus {
            background-color: transparent !important;
            color: $color_3 !important;
            background-image: none !important;
        }
        .fa {
            right: 10px;
        }
    }
}