@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');
@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/proxima-nova/proxima-nova-regular.otf') format('truetype'), url('../fonts/proxima-nova/proxima-nova-regular.woff2') format('woff2'), url('../fonts/proxima-nova/proxima-nova-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-novaregular-italic';
    src: url('../fonts/proxima-nova/proxima_nova_regular_italic-webfont.eot');
    src: url('../fonts/proxima-nova/proxima_nova_regular_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima-nova/proxima_nova_regular_italic-webfont.woff2') format('woff2'), url('../fonts/proxima-nova/proxima_nova_regular_italic-webfont.woff') format('woff'), url('../fonts/proxima-nova/proxima_nova_regular_italic-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proxima_nova_regular_italic-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Font Size
$FS_quote: 32px;
$FS_cite: 27px;
$FS_h1: 27px;
$FS_h2: 32px;
$FS_h3: 27px;
$FS_h4: 23px;
$FS_h5: 16px;
$FS_Base: 16px;
// Line Height
$LH_quote: 45px;
$LH_cite: 62px;
$LH_h1: 34px;
$LH_h2: 44px;
$LH_h3: 36px;
$LH_h4: 32px;
$LH_h5: 26px;
$LH_Base: 26px;
// Letter Spacing
$LS_quote: 0.025em;
$LS_cite: 0.020em;
$LS_h1: 0.050em;
$LS_h2: 0.020em;
$LS_h3: 0.020em;
$LS_h4: 0.020em;
$LS_h5: 0.020em;
$LS_Base: 0.020em;
//responsive breakpoint
$breakpoint: 768px;

/*-----------------*/

body {
    font-family: 'Lato', sans-serif;
    font-size: $FS_Base;
    line-height: $LH_Base;
    letter-spacing: $LS_Base;
    &.blog,
    &.page-id-417,
    &.home,
    &.category,
    &.single-post {
        .cite {
            @media (min-width: $breakpoint) {
                font-size: 27px;
                line-height: 62px;
            }
        }
    }
    &:not(.home) {
        span.cite {
            color: $color_3;
        }
    }
    .quote {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        letter-spacing: $LS_quote;
        font-size: 16px;
        line-height: 23px;
        padding-bottom: 20px;
        // padding: 0px 15px;
        @media(min-width: $breakpoint) {
            font-size: $FS_quote;
            line-height: $LH_quote;
        }
    }
    .cite {
        font-family: 'proxima-novaregular-italic';
        font-size: 16px;
        line-height: 23px;
        letter-spacing: $LS_cite;
        // padding: 0px 15px;
        @media(min-width: $breakpoint) {
            font-size: $FS_cite;
            line-height: $LH_cite;
        }
    }
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: $FS_h1;
        line-height: $LH_h1;
        font-weight: 600;
        letter-spacing: $LS_h1;
    }
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: $FS_h2;
        line-height: $LH_h2;
        font-weight: 300;
        letter-spacing: $LS_h2;
    }
    h3 {
        font-family: 'proxima-nova';
        font-size: $FS_h3;
        line-height: $LH_h3;
        letter-spacing: $LS_h3;
    }
    h4 {
        font-family: 'proxima-nova';
        font-size: 19px;
        @media(min-width: $breakpoint) {
            font-size: $FS_h4;
            line-height: $LH_h4;
        }
    }
    h5 {
        font-family: 'Lato', sans-serif;
        font-size: $FS_h5;
        line-height: $LH_h5;
        font-weight: 800;
        letter-spacing: $LS_h5;
    }
}