footer {
    .container-general-footer {
        max-width: 1140px;
        margin: 0px auto;
        padding: 20px 25px;
        @media (min-width: 480px) {
            padding: 40px 37px;
        }
        @media (min-width: 768px) {
            padding: 40px 15px;
        }
        .first-section-footer {
            border-bottom: 2px solid $color_4;
            .social-networks-links-pillars {
                @include display-flex();
                @include justify-content(space-between);
                @include align-items(center);
                margin-bottom: 13px;
                @media (min-width: 480px) {
                    margin-bottom: 22px;
                }
                @media (min-width: 768px) {
                    margin-bottom: 18px;
                }
                .social-networks,
                .links-pillars {
                    width: 50%;
                }
                .social-networks {
                    @include display-flex();
                    @include align-items(flex-end);
                    @media (min-width: 768px) {
                        width: 15%;
                        padding-left: 23px;
                    }
                    @media (min-width: 992px) {
                        width: 10%;
                    }
                    a {
                        @include display-flex();
                        @include align-items(center);
                        i {
                            color: $color_8;
                            font-size: 15px;
                            @media (min-width: 480px) {
                                font-size: 25px;
                            }
                        }
                        &:first-child {
                            margin-right: 15px;
                            @media (min-width: 480px) {
                                margin-right: 21px;
                            }
                            @media (min-width: 768px) {
                                margin-right: 27px;
                            }
                        }
                        &.email-icon {
                            img {
                                max-width: 21px;
                                width: 100%;
                                height: auto;
                                @media (min-width: 480px) {
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
                .links-pillars {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    @include display-flex();
                    @include flex-direction(column);
                    @media (min-width: 768px) {
                        width: 85%;
                        @include flex-direction(row);
                        @include justify-content(flex-end);
                    }
                    @media (min-width: 992px) {
                        width: 90%;
                    }
                    a {
                        text-transform: uppercase;
                        font-size: 7px;
                        line-height: 11px;
                        letter-spacing: 0.1px;
                        @media (min-width: 480px) {
                            font-size: 11px;
                            line-height: 18px;
                            letter-spacing: 0.6px;
                        }
                        @media (min-width: 768px) {
                            font-size: 14px;
                            line-height: 32px;
                            margin-left: 22px;
                        }
                        @media (min-width: 992px) {
                            font-size: 15px;
                            line-height: 32px;
                            margin-left: 47px;
                        }
                        &:first-child {
                            @media (min-width: 768px) {
                                margin-left: 0px;
                            }
                        }
                        &.technology {
                            color: $color_9;
                        }
                        &.support {
                            color: $color_10;
                        }
                        &.security {
                            color: $color_11;
                        }
                    }
                }
            }
        }
        .second-section-footer {
            @media (min-width: 768px) {
                margin-top: 87px;
                @include display-flex();
                @include justify-content(space-between);
            }
            .logo {
                margin-top: 32px;
                margin-bottom: 22px;
                @media (min-width: 480px) {
                    margin-top: 60px;
                    margin-bottom: 28px;
                }
                @media (min-width: 768px) {
                    margin-top: 0px;
                    margin-bottom: 0px;
                    width: 30%;
                }
                @media (min-width: 992px) {
                    width: 40%;
                }
                a {
                    display: inline-block;
                    img {
                        max-width: 95px;
                        width: 100%;
                        height: auto;
                        @media (min-width: 480px) {
                            max-width: 150px;
                        }
                        @media (min-width: 768px) {
                            max-width: 191px;
                        }
                    }
                }
            }
            .container-phone-email-address {
                @media (min-width: 768px) {
                    width: 70%;
                    @include display-flex();
                    @include justify-content(space-between);
                }
                @media (min-width: 992px) {
                    width: 60%;
                }
                .phone-email {
                    @include display-flex();
                    @include justify-content(space-between);
                    @media (min-width: 768px) {
                        width: 100%;
                    }
                    .phone,
                    .email {
                        width: 50%;
                        @media (min-width: 768px) {
                            width: 100%;
                        }
                    }
                    p {
                        font-size: 9px;
                        line-height: 0px;
                        letter-spacing: 0px;
                        color: $color_7;
                        @media (min-width: 480px) {
                            font-size: 13px;
                            line-height: 17px;
                            letter-spacing: inherit;
                        }
                        @media (min-width: 768px) {
                            font-size: 16px;
                            line-height: 21px;
                        }
                    }
                    a {
                        color: $color_8;
                        font-size: 9px;
                        line-height: 9px;
                        letter-spacing: -0.1px;
                        display: inline-block;
                        @media (min-width: 480px) {
                            font-size: 13px;
                            line-height: 20px;
                            letter-spacing: 0.6px;
                        }
                        @media (min-width: 768px) {
                            font-size: 16px;
                            line-height: 21px;
                        }
                    }
                    .email {
                        @media (min-width: 768px) {
                            margin-right: 35px;
                        }
                    }
                }
                .address {
                    margin-top: 6px;
                    @media (min-width: 480px) {
                        margin-top: 13px;
                    }
                    @media (min-width: 768px) {
                        max-width: 200px;
                        width: 100%;
                        margin-top: 0px;
                    }
                    p {
                        font-size: 9px;
                        line-height: 9px;
                        letter-spacing: 0px;
                        color: $color_7;
                        @media (min-width: 480px) {
                            font-size: 13px;
                            line-height: 20px;
                            letter-spacing: 0.6px;
                        }
                        @media (min-width: 768px) {
                            font-size: 16px;
                            line-height: 21px;
                        }
                    }
                }
            }
        }
        .third-section-footer {
            .copyright-links-policy {
                margin-top: 25px;
                @media (min-width: 480px) {
                    margin-top: 33px;
                }
                @media (min-width: 768px) {
                    @include display-flex();
                    margin-top: 75px;
                }
                .copyright {
                    @media (min-width: 768px) {
                        margin-right: 38px;
                    }
                    p {
                        color: $color_8;
                        font-size: 7px;
                        line-height: 7px;
                        @media (min-width: 480px) {
                            font-size: 11px;
                            line-height: 17px;
                            letter-spacing: 0.6px;
                        }
                        @media (min-width: 768px) {
                            font-size: 14px;
                            line-height: 21px;
                            letter-spacing: 0.7px;
                        }
                    }
                }
                .links-policy {
                    @include display-flex();
                    margin-top: 3px;
                    @media (min-width: 480px) {
                        margin-top: 0px;
                    }
                    a {
                        color: $color_8;
                        display: inline-block;
                        font-size: 7px;
                        line-height: 7px;
                        letter-spacing: 0.1px;
                        border-right: 1px solid $color_8;
                        padding: 0px 5px;
                        @media (min-width: 480px) {
                            font-size: 11px;
                            line-height: 17px;
                            letter-spacing: 0.4px;
                            padding: 0px 8px;
                        }
                        @media (min-width: 768px) {
                            font-size: 14px;
                            line-height: 21px;
                            letter-spacing: 0.7px;
                        }
                        &:first-child {
                            padding-left: 0px;
                        }
                        &:last-child {
                            border-right: none;
                            padding-right: 0px;
                        }
                    }
                }
            }
        }
    }
}