$header_bg: transparent;
$menu_mobile_bg: rgba(49, 63, 74, 0.9);
header {
    .container-header {
        position: fixed;
        z-index: 999;
        width: 100%;
        max-width: $max_width;
        .navbar {
            position: relative;
            border-radius: 0px;
            background-color: $header_bg;
            border: none;
            @media (min-width: 992px) {
                padding: 0px 15px;
            }
            @media (min-width: 768px) and (max-width: 991px) {
                .navbar-collapse.collapse {
                    display: none !important;
                }
                .navbar-collapse.collapse.in {
                    display: block !important;
                }
                .navbar-header .collapse,
                .navbar-toggle {
                    display: block !important;
                }
                .navbar-header {
                    float: none;
                }
            }
            &.bg-color-blue {
                background-color: $color_5;
            }
        }
        .navbar-wrap {
            // Logo and menu
            @media(min-width: 991px) {
                max-width: 1140px;
                width: 100%;
                @include horizontal-margin(auto);
                @include display-flex();
                @include justify-content(space-between);
                @include align-items(flex-end);
                padding: 24px 0px;
            }
            .navbar-header {
                @include display-flex();
                @include justify-content(space-between);
                @include align-items(center);
                padding: 38px 31px 38px 38px;
                @media(min-width: 992px) {
                    // padding: 15px 0px;
                    padding: 0px;
                    @include flex(1, 0, 20%);
                }
                &:before {
                    content: none;
                }
                &:after {
                    content: none;
                }
                .navbar-toggle {
                    margin: 0px;
                    border: none;
                    color: white;
                    &:hover,
                    &:focus {
                        background: none;
                    }
                    &.active {
                        z-index: 21;
                        color: white;
                        font-weight: 600;
                        .icon-bar {
                            transition: all 500ms ease-in-out;
                            &:nth-of-type(1) {
                                transform: rotate(45deg);
                                transform-origin: 10% 10%;
                            }
                            &:nth-of-type(2) {
                                background-color: transparent;
                            }
                            &:nth-of-type(3) {
                                transform: rotate(-45deg);
                                transform-origin: 10% 90%;
                            }
                        }
                    }
                    .icon-bar {
                        background-color: white;
                        position: relative;
                        transition: all 500ms ease-in-out;
                        transform: rotate(0);
                        width: 26px;
                    }
                }
            }
            #main-menu-wrap.in {
                .menu-main-menu-container {
                    height: 100vh;
                    overflow: scroll;
                    -webkit-overflow-scrolling: touch; // mobile safari 
                    @media (min-width: 992px) {
                        height: auto;
                        overflow: hidden;
                    }
                }
            }
            .navbar-collapse {
                position: absolute;
                top: 0px;
                width: 100%;
                @media(min-width: 992px) {
                    display: block;
                    padding: 0px;
                    @include flex(1, 0, auto);
                    position: static;
                    width: auto;
                    top: auto;
                }
                .menu {
                    list-style: none;
                    padding: 0px;
                    margin: 0px;
                    @media (min-width: 991px) {
                        @include display-flex();
                        @include justify-content(space-between);
                        @include align-items(center);
                    }
                    li {
                        text-align: center;
                        padding-top: 23px;
                        a {
                            color: white;
                            width: 100%;
                            position: relative;
                            display: block;
                            padding: 21px;
                            cursor: pointer;
                            @media(min-width: 992px) {
                                padding: 0px;
                            }
                        }
                    }
                }
                .sub-menu {
                    display: none;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    list-style: none;
                    padding: 0px;
                    background-color: #f9f9f9;
                    @media (min-width: 992px) {
                        -moz-box-shadow:    0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); 
                        box-shadow:         0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        position: absolute;
                        z-index: 999;
                        width: 100%;
                        max-width: 1600px;
                        left: 0px;
                        margin-top: 24px;
                    }
                    li {
                        padding-top: 0px;
                        a {
                            color: black !important;
                            padding: 12px 16px !important;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-size: 16px;
                            &:nth-child(2) {
                                color: green;
                            }
                            &:last-child {
                                color: blue;
                            }
                        }
                        &:first-child {
                            a {
                                color: $color_9 !important;
                            }
                        }
                        &:nth-child(2) {
                            a {
                                color: $color_10 !important;
                            }
                        }
                        &:last-child {
                            a {
                                color: $color_11 !important;
                            }
                        }
                    }
                    &.display-flex {
                        display: block;
                        @media (min-width: 992px) {
                            @include display-flex();
                            @include justify-content(center);
                        }
                    }
                }
                .call_us_section {
                    font-family: 'Montserrat', sans-serif;
                    text-align: right;
                    color: white;
                    font-size: 15px;
                    line-height: 15px;
                    font-weight: 600;
                    letter-spacing: 0.8px;
                    text-transform: uppercase;
                    display: none;
                    i {
                        margin-right: 10px;
                        font-size: 20px;
                    }
                    .telephone {
                        color: white;
                        margin-left: 14px;
                        &.contact-header-color-green {
                            color: $color_3;
                        }
                    }
                    @media (min-width: 992px) {
                        display: block;
                    }
                    &.contact-header-color-green {
                        color: $color_3;
                    }
                }
            }
        }
        .custom-logo-link {
            display: inline-block;
            padding: 0px;
            img {
                height: auto;
                width: 100%;
                max-width: 130px;
                @media(min-width: 991px) {
                    max-width: 229px;
                }
            }
        }
        //
        .custom-menu {
            background-color: $menu_mobile_bg;
            text-align: right;
            padding: 0px;
            color: white;
            .nav>li {
                border-bottom: solid 1px white;
                @media(min-width: 991px) {
                    border-bottom: none;
                }
                a {
                    padding: 30px 15px 15px;
                    color: white;
                    font-size: 15px;
                    font-weight: 700;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    &:hover,
                    &.active {
                        background: none;
                    }
                    @media(min-width: 991px) {
                        padding: 45px 15px;
                        color: black;
                        font-weight: 500;
                        &:hover,
                        &.active {
                            background: none;
                            padding: 45px 15px 41px 15px;
                        }
                    }
                }
            }
            .nav>li.current-menu-item.page_item {
                a {
                    background: grey;
                    @media(min-width: 991px) {
                        background: none;
                        padding: 45px 15px 41px 15px;
                    }
                }
            }
            .social_links_container {
                ul.social_links {
                    padding: 25px 0px;
                    li {
                        padding: 0px 45px;
                    }
                }
            }
            @media(min-width: 991px) {
                text-align: left;
                background-color: transparent;
            }
        }
    }
}