$breakpoint: 768px;
body {
    #page-wrap {
        min-width: $min_width;
        max-width: $max_width;
        margin: auto;
    }
    .rw-section>.vc_row {
        max-width: $max_contentWidth;
        margin: auto;
    }
    .rw-section.featured-header+.rw-section {
        position: relative;
        @media (min-width: $breakpoint) {
            top: -292px;
            margin-bottom: -292px;
            &.three-col {
                top: -159px;
                margin-bottom: -159px;
            }
        }
        padding-top: 0;
    }
    .rw-section.featured-header {
        //max-height: 327px;
        overflow: hidden;
        @media (min-width: 768px) {
            max-height: initial;
        }
    }
    .rw-section {
        padding: $content_separation_px 0;
    }
}