@import 'colors';
body.login {
    background-color: $color_5;
    #login {
        h1 {
            a {
                background-image: url('../images/logo-rivanet-white.png');
                height: 70px;
                background-size: contain;
                width: 70%;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        #nav {
            a {
                color: #fff;
                &:hover {
                    color: #BECE08;
                }
            }
        }
        #backtoblog {
            a {
                color: #fff;
                &:hover {
                    color: #BECE08;
                }
            }
        }
    }
}