@import 'father-style';
$images_path: '../images/';
$S_spacer_xs: 20px;
$S_spacer_sm: 20px;
$S_spacer_md: 20px;
$S_spacer_lg: 20px;
$S_border: 4px;
$max_width: 1600px;
$media_desktop: 320px;
$min_width: 320px;
$modules_separation: 90;
$horizontal_padding: 60;
$content_separation: $modules_separation/2;
$content_separation_px: #{$content_separation}px;
$row_padding: $horizontal_padding/2;
$row_padding_px: #{$row_padding}px;
$max_contentWidth: 1280px;

$lateral_separation: 5%;

@import 'colors';
@import 'fonts';
@import 'common';
@import 'structure';
@import 'header';
@import 'modules';
@import 'layouts';
@import 'footer';