.logo-menu-wrap {
    @include display-flex();
    @include justify-content(space-between);
}

.header-wrap {
    @include horizontal-margin(auto);
    max-width: $max_width;
}

.logo-menu {
    @media (min-width: 768px) {}
}

body {
    &.admin-bar.notyet {
        margin-top: 30px;
        nav.navbar {
            top: 30px;
        }
    }
}